In [12]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [36]:
#from sqlalchemy import create_engine
#import pandas as pd

#conn = sqlite3.connect("sqlite_db_pythonsqlite.db")
#cur = conn.cursor()

#with conn as cur:
#    rs = cur.execute('SELECT name, revenue FROM (SELECT Facilities.name, sum(case when memid = 0 then slots * Facilities.guestcost else slots * membercost end) AS revenue FROM Bookings INNER JOIN Facilities on Bookings.facid = Facilities.facid GROUP BY Facilities.name) as agg where revenue < 1000 ORDER BY revenue')
#    df = pd.DataFrame(rs.fetchall())
    #df.columns = rs.keys()
#print(df)

In [37]:
#QUESTION 10

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT name, revenue FROM (SELECT Facilities.name, sum(case when memid = 0 then slots * Facilities.guestcost else slots * membercost end) AS revenue FROM Bookings INNER JOIN Facilities on Bookings.facid = Facilities.facid GROUP BY Facilities.name) as agg where revenue < 1000 ORDER BY revenue
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [35]:
#QUESTION 11

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT Members.surname, Members.firstname, sub.rec_surname, sub.rec_firstname, sub.rec_ID
FROM Members
CROSS JOIN (SELECT DISTINCT m1.surname AS rec_surname, m1.firstname AS rec_firstname, m2.recommendedby AS rec_ID
FROM Members AS m1
CROSS JOIN Members AS m2 ON m1.memid = m2.recommendedby
WHERE m2.recommendedby >=1) AS sub
ON Members.recommendedby = sub.rec_ID
ORDER BY Members.surname

        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader', 'Florence', 'Stibbons', 'Ponder', '9')
('Baker', 'Anne', 'Stibbons', 'Ponder', '9')
('Baker', 'Timothy', 'Farrell', 'Jemima', '13')
('Boothe', 'Tim', 'Rownam', 'Tim', '3')
('Butters', 'Gerald', 'Smith', 'Darren', '1')
('Coplin', 'Joan', 'Baker', 'Timothy', '16')
('Crumpet', 'Erica', 'Smith', 'Tracy', '2')
('Dare', 'Nancy', 'Joplette', 'Janice', '4')
('Genting', 'Matthew', 'Butters', 'Gerald', '5')
('Hunt', 'John', 'Purview', 'Millicent', '30')
('Jones', 'David', 'Joplette', 'Janice', '4')
('Jones', 'Douglas', 'Jones', 'David', '11')
('Joplette', 'Janice', 'Smith', 'Darren', '1')
('Mackenzie', 'Anna', 'Smith', 'Darren', '1')
('Owen', 'Charles', 'Smith', 'Darren', '1')
('Pinker', 'David', 'Farrell', 'Jemima', '13')
('Purview', 'Millicent', 'Smith', 'Tracy', '2')
('Rumney', 'Henrietta', 'Genting', 'Matthew', '20')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence', '15')
('Smith', 'Jack', 'Smith', 'Darren', '1')
('Stibbons', 'Ponder', 'Tracy', 'Burton', '6')
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy', '2')

In [ ]:
#QUESTION 12

In [ ]:
#QUESTION 13